body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* FIRST SECTION - HEADER, IMAGE AND INFORMATION*/
header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

header a {
    font-size: 18px;
    color: #E5E7EB;    
}

.website-title {
    font-size: 48px;
    font-weight: bolder;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.welcome-section p {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome-website {
    width: 500px;
}

.sign-up-btn {
    margin: 0;
    border: 0;
    padding: 10px 35px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

#welcome-img {
    height: 300px;
    width: auto;
}


/* SECOND SECTION - INFORMATION */
#information h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.item img {
    border: 3px solid #3882F6;
    border-radius: 25px;
    box-sizing: border-box;
    width: 150px;
}

.item-text {
    max-width: 150px;
    color:#5e5e5e;
}

#item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px 250px;
    text-align: center;
}

/* THIRD SECTION - QUOTE */
#quote {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    margin: 0 200px;
}

figcaption {
    color: #1F2937;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: end;
    margin: 0 250px;
}

/* FOURTH SECTION - CALL TO ACTION */
#sign-up {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sign-up-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882F6;
    width: 70vw;
    height: 20vh;
    min-height: 20%;
    border-radius: 10px;
}

#call-to-action {
    color: white;
}

.sign-up-btn.action{
    border: 2px solid white;
}

#call-title, #call-subtitle {
    margin:5px 0;
}

#call-title {
    font-size: 22px;
    font-weight: 700;
}

#call-subtitle {
    font-size: 16px;
    font-weight: 300;
}

/* FIFTH SECTION - FOOTER */
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
