body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7vw 0 7vw;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

a {
    text-decoration: none;
}

header, a {
    font-size: 18px;
    color: #E5E7EB;    
}
